.projectDetails {
  &_participate {
    &_img_wrap {
      // min-height: 250px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      &_head {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 26px;
        line-height: 30.5px;
        color: #2f455c;
      }
      &_details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 25px;
        padding: 0 20px;
        &_category {
          display: flex;
          justify-content: flex-start;
        }
        &_likes,
        &_participants,
        &_amount {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
        }
      }
    }
    &_btn {
      & button {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #fff;
        font-family: "Raleway", sans-serif;
        padding: 0.5rem 1.3rem;
      }
    }
  }
}

.details_category {
  &_left {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #2f455c;
  }
  &_right {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #2f455c;
    padding: 0 30px 0 10px;
  }
}

.details_likes,
.details_participants,
.details_amount {
  &_left {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #2f455c;
  }
  &_right {
    display: flex;
    justify-content: center;
    align-items: center;
    & span {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #2f455c;
      padding-left: 10px;
    }
  }
}

.details_likes_right {
  padding-right: 7rem;
}
.details_participants_right {
  padding-right: 6.9rem;
}
.details_amount_right {
  padding-right: 3.6rem;
}
