section.hero_section {
  display: flex;
  height: 200px;
}

.hero_section.desktop {
  display: none;
}
.hero_section.mobile {
  background-image: url("../../assets/img/home_hero_bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;

  .hero_section_content {
    width: 100%;
    .hero_section_text_wrapper {
      padding: 4.5rem 0 0 2rem;
    }
    .card_wrapper {
      padding: 1rem;
      text-align: center;
    }
    .card_text {
      padding-bottom: 1rem;
      // weight, size & height:
      font-weight: 500;
      font-size: 16.85px;
      line-height: 21px;
      // *****************************
    }
  }
}
.main_carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap_link {
  padding: 42px 0 40px 0;
}
.carousel_link {
  display: flex;
  gap: 6.48px;
}
.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #102f35;
}
.circle_active {
  background-color: #102f35;
}

.main_ocassion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 30px 0 30px;
  background-color: #f9fcfc;
  &_name {
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
  }
}

// ABOUT:
.main_about.desktop {
  display: none;
}
.main {
  &_about {
    padding: 3.5rem 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &_head {
    padding-bottom: 15px;
    margin: 0;
  }
  &_text {
    font-weight: 400, Regular;
    line-height: 24px;
    text-align: center;
    margin: 0;
  }
  &_btn {
    padding: 22px 0;
    width: 70%;
    & button {
      font-size: 18px;
      line-height: 21.13px;
      font-weight: 400;
      color: #fff;
    }
  }
}

section.how_section {
  display: flex;
}
.how_section.desktop {
  display: none;
}

.how_section.mobile {
  margin-bottom: -225px;
  .how_section_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 0.7rem;
    width: 100%;
  }

  .step_title {
    font-weight: 700;
    font-size: 1rem;
    padding: 0.4rem 0;
  }
  .step_illustration {
    max-width: 40px;
    max-height: 40px;
  }
  .how_section_heading {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: #2f455c;
  }

  .how_steps_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
  }
  .how_step_bg {
    display: flex;
    justify-content: center;
  }
  .how_step1,
  .how_step2,
  .how_step3,
  .how_step4 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  .step_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 10rem;
    top: 12%;
  }
  .how_step1 {
    position: relative;
    z-index: 10;
  }

  .how_step2 {
    position: relative;
    top: -9.5%;
    z-index: 9;
  }
  .how_step3 {
    position: relative;
    top: -19%;
    z-index: 8;
  }
  .how_step4 {
    position: relative;
    top: -34%;
    z-index: 11;
    .step_content {
      top: 12%;
    }

    .give_text {
      padding: 0 0.4rem;
    }
  }
}

section.curved_image_section {
  display: flex;
  .curved_image_card img {
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 10rem;
    max-height: 70%;
  }
}

// ************************************
@media only screen and (min-width: 768px) {
  .hero_section.mobile {
    display: none;
  }
  // ******************************************
  // section.how_section {
  //   display: flex;
  // }
  [alt$="base"] {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .steps_wrap {
    display: flex;
    width: 100%;
  }

  .how_section.desktop {
    display: flex;
  }
  .step_1 {
    position: relative;
    z-index: -4;
    transform: translateX(144px);
  }
  .step_2 {
    position: relative;
    z-index: -3;
    transform: translateX(48px);
  }
  .step_3 {
    position: relative;
    z-index: -2;
    transform: translateX(-48px);
  }
  .step_4 {
    position: relative;
    z-index: -1;
    transform: translateX(-144px);
  }

  .step_1_content_wrap {
    position: absolute;
    top: 12px;
    left: -12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  .step_2_content_wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  .step_3_content_wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  .step_4_content_wrap {
    position: absolute;
    top: 0;
    left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  .step_head {
    color: #2f455c;
    line-height: 20px;
    font-size: 20px;
    font-weight: 400;
    padding-top: 5px;
  }
  .step_info {
    color: #2f455c;
    line-height: 15px;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
  }
  [para="p-one"] {
    padding: 0 100px;
  }
  [para="p-two"] {
    padding: 0 105px;
  }
  [para="p-three"] {
    padding: 0 102px;
  }
  [para="p-four"] {
    padding: 0 55px;
  }
  [alt="notebook"] {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  [alt="share"] {
    height: 65%;
    width: 65%;
    object-fit: contain;
  }

  [alt="collect"] {
    height: 61%;
    width: 61%;
    object-fit: contain;
  }

  [alt="give"] {
    height: 70%;
    width: 70%;
    object-fit: contain;
  }

  // *************************************
  .hero_section.desktop {
    display: inherit;
    background-image: url("../../assets/img/home_hero_bg_pc.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    padding-bottom: 50%;
    width: 100%;
  }

  // HOW SECTION:
  .how_section.mobile {
    display: none;
  }
  // ***********************
  // GRID:
  .main_advance_cards {
    background-image: url("../../assets/img/party_charity.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  // .madvance_card.desktop
  .gradient_btn_wrapper {
    align-self: flex-start;
    width: 100%;
    max-width: 10rem;
  }

  .hero_section_content {
    padding: 8% 8% 0 10%;
    width: 50%;
  }
  .card_wrapper {
    padding: 1rem 0;
  }
  .card_text {
    padding-bottom: 1rem;
  }

  //About Section

  .main_about.mobile {
    display: none;
  }
  .main_about.desktop {
    display: inherit;
    background-image: url("../../assets/img/about_us_bg_pc.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    padding-bottom: 15%;
  }
  .main_about_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10%;
    padding-bottom: 5%;
    width: 100%;

    .main_about_left_content {
      padding: 5% 5%;
      width: 50%;
    }
    .main_text {
      text-align: unset;
    }
    .main_btn_wrapper {
      padding: 1rem 0;
      max-width: 50%;
    }
  }
}
